# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Model & Vectorizer files
*.pkl

# Datasets
*.csv

# Environment files
.env
.venv/
env/
venv/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints 
.ipynb_checkpoints/

# Logs
*.log
